<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="nl.cjib.commons.logging">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <layout class="org.apache.log4j.PatternLayout">
                <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
            </layout>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.atomikos" level="ERROR"/>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>